{{!
// SPDX-FileCopyrightText: 2025 Marius Dege <marius.dege@basyskom.com>
// SPDX-FileCopyrightText: 2024 Marius Dege <marius.dege@basyskom.com>
// SPDX-FileCopyrightText: 2024 basysKom GmbH

// SPDX-License-Identifier: LGPL-3.0-or-later
}}
cmake_minimum_required(VERSION 3.5)
project({{projectName}} C)

find_package(open62541 REQUIRED)

set(CMAKE_RUNTIME_OUTPUT_DIRECTORY ${CMAKE_BINARY_DIR}/bin)
set(CMAKE_RUNTIME_OUTPUT_DIRECTORY_DEBUG ${CMAKE_BINARY_DIR}/bin)
set(CMAKE_RUNTIME_OUTPUT_DIRECTORY_RELEASE ${CMAKE_BINARY_DIR}/bin)

if (NOT DEFINED open62541_SOURCE_DIR)
    message(FATAL_ERROR "Variable open62541_SOURCE_DIR not Set! -> cmake .. -Dopen62541_SOURCE_DIR=/path/to/open62541")
endif()

set(open62541_TOOLS_DIR "${open62541_SOURCE_DIR}/tools")
set(UA_NODESET_DIR "${open62541_SOURCE_DIR}/deps/ua-nodeset")
set(UA_SCHEMA_DIR "${UA_NODESET_DIR}/Schema")

list(APPEND CMAKE_MODULE_PATH "${open62541_TOOLS_DIR}/cmake")
include(open62541Macros)

{{#nodeSets}}
    ua_generate_nodeset_and_datatypes(
        NAME "{{name}}"
        {{#file_csv}}FILE_CSV "${UA_NODESET_DIR}/{{nodsetDirPrefix}}/{{file_csv}}" {{/file_csv}}
        {{#file_bsd}}FILE_BSD "${UA_NODESET_DIR}/{{nodsetDirPrefix}}/{{file_bsd}}" {{/file_bsd}}
        {{#file_ns}}FILE_NS "${UA_NODESET_DIR}/{{nodsetDirPrefix}}/{{file_ns}}" {{/file_ns}}
        {{#hasCustomTypes}}INTERNAL{{/hasCustomTypes}}
        {{#depends}}DEPENDS "{{depends}}" {{/depends}}
    )
{{/nodeSets}}

add_executable({{executableName}}
    {{executableName}}.c
    {{#nodeSets}}
        ${UA_NODESET_{{nameUpper}}_SOURCES}
        ${UA_TYPES_{{nameUpper}}_SOURCES}
    {{/nodeSets}}
)

add_dependencies({{executableName}}
    {{#nodeSets}}
        open62541-generator-ns-{{name}}
        open62541-generator-types-{{name}}
    {{/nodeSets}}
)

target_include_directories({{executableName}} PRIVATE
    ${CMAKE_BINARY_DIR}/src_generated
    ${CMAKE_BINARY_DIR}/src_generated/open62541
    ${CMAKE_SOURCE_DIR}
)

target_link_libraries({{executableName}} open62541::open62541)
